*{
    box-sizing: border-box;
    padding: 0;margin: 0;
    text-decoration: none;
}


body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 95vw;
    height: max-content;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0px 0px 25px black,1px 1px 15px blueviolet;
    margin-bottom: 10px;
    margin-top: 3.5vh;
}

.adm,
.usr{
    width: 360px;
    height: 480px;
    border: 1px solid olive;
    margin: 5%;
    border-radius: 7px;
    box-shadow: 0px 1px 50px red,1px 0px 25px black;

}

.circle1{
    background-image: url('/usr1.png');
    background-position:;
    background-size: cover;
}

.circle2{
    background-image: url('/adm1.png');
    background-size: 100% 100%;
    border: 1px solid black;
    
}


.circle1,
.circle2{
    width: 145px;
    height: 145px;
    border-radius: 100%;
    margin: auto;
    margin-top: 3%;

}

.txt{
    width: max-content;
    height: max-content;
    margin: auto;
}

h3{
    background-color:steelblue;
    color: white;
    margin-top: 5%;
    padding: 10px;
    text-align: center;
    border-bottom-width: 2px;
    border: 1px solid black;
}

h3:hover{
    background-color:violet;
    transition: 1s;
}

.input{
    display: flex;
    flex-direction: column;
    
    position: relative;
    top: 2.5vh;

}


input{
    padding: 10px;
    margin: 1.5px;
    border: none;
    text-align: center;
    border-bottom: 2px solid black;
    font-weight: 500;
    font-size: 17px;
}

.input a,
button{
    width: max-content;
    text-align: center;
    margin: auto;
    padding: 10px;
    position: relative;
    top: 16px;
    background-color: green;
    font-weight: bold;
    font-size: 15px;
    color: aquamarine;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

button:hover{
    position: relative;
    
}

.reqs{
    position: relative;
    top: 9vh;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.display{
    display: flex;
    justify-content: center;
}

.display a{
    position: relative;
    top: 7.5vh;
    
}

@media only screen and(max-width:500px) {
    header{
        margin: 2%;
    }
}